@import "./base";
@import "./mixin";

.FrontPage {
  p {
    color: blue;
  }
  .front {
    background: url('golden-gate-heights-2048.jpg');
  }
  .fb {
    background: url('fb-logo-blue.png');
  }
}

div {
  @include hard-reset;
}